@import "./../../Common/sass/Mixins";
@import "./../../Common/sass/Variables";

.container {
  flex-wrap: nowrap;
  height: auto;
  padding-bottom: 10px;

  img {
    max-height: 45vh;
  }

  h2 {
    @include text(2rem, 600, 1.4);
    color: $textSecondColor
  }

  ul li {
    font-size: 1.3em;

    span {
      font-weight: 700;
      color: $textSecondColor
    }
  }
}