@import "./../../../Common/sass/Variables";

.form {
  min-width: 500px;
  height: 400px;
  background-color: $bgMainColor;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .contactItem {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      background-color: $bgFormColor;
      display: flex;
        align-items: center;

      .iconBlock {
        width: 50px;
        height: 100%;
        background-color: $primaryColor;
          display: flex;
          align-items: center;
          justify-content: center;

        .icon {
          font-size: 2rem;

          color: $textColor;
        }
      }
        span {
            padding: 0 10px;
            color: $textColor;
            a{
                text-decoration: none;
                color: $textColor;
            }

        }
    }
  }
}

