//text
$textColor: #FFF;
$textSecondColor: #126cab;
$textThirdColor: #000;

//primary
$primaryColor: #152f70;

//background
$bgMainColor: #697d8c;
$bgSecondColor: #2678bc;
$bgThirdColor: #f2f5fb;

//button
$btnColor: #7fba2f;
$btnSecondColor: rgba(0,89,153,.75);