@import "./../../Common/sass/Variables";

.header {
    height: 80px;
    width: 100%;
    background-color: $textColor;
    z-index: 20;

    .headerContainer {
        justify-content: space-between;
        .logo {
            height: 60px;
        }
        a {
            text-decoration: none;
            color: $textSecondColor;
            font-weight: 500;
        }
        span a {
            text-decoration: none;
            color: $textThirdColor;
            font-weight: bold;
        }
        span {
            text-align: center;
            font-weight: bold;
        }
    }

}

