@import "./../../Common/sass/Variables";

.header {
    height: 60px;
    width: 100%;
    background-color: $bgSecondColor;
    z-index: 20;
    position: fixed;
    transition: transform 200ms ease-in-out;
    .headerContainer {
        justify-content: space-between;
        .logo {
            width: 50px;
        }
    }

}

