.item {
  width: 32%;
  height: 520px;
  background-color: beige;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.6;
  transition: all 1.2s ease-out;

  &:hover {
    opacity: 1;
    background-color: burlywood;
    transform: scale(1.05);
  }

  h3 {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
  }

  p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: justify;
  }

  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    li span {
      color: black;
    }
  }
}