@import "./../../Common/sass/Variables";

.intro {
  height: 75vh;
  background: linear-gradient(75deg, cornflowerblue, darkcyan);

  .logotype {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    .particles {
      position: absolute;
      height: 75vh;
      top: 60px;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
      z-index: 0;
    }

    .logoImage {
      width: 600px;
      padding: 50px 0;
      z-index: 1;
    }

    .btn {
      margin: 10px;
    }

    .hr {
      width: 70%;
      height: 1px;
      margin: 20px 10px;
      background-color: white;
      border: none;
    }

    .iconsBlock {
      width: 400px;
      display: flex;
      justify-content: space-between;
      z-index: 2;

      .icon {
        font-size: 3rem;
        color: $bgMainColor;

      }
    }

  }


}




