@import "./../../Common/sass/Variables";
@import "./../../Common/sass/Mixins";

.footer {
  background-color: $bgSecondColor;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;

  .footerContainer {
    div {
    }
  }

  .social {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .socialIcon {
      color: $textColor;
      font-size: 2rem;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    span {
      @include text(1.25rem, 400, 1.8);

      a {
        color: $textColor;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



