@import "./../../Common/sass/Variables";
@import "./../../Common/sass/Mixins";

.block {
  height: auto;

  h2 {
    @include text(2rem, 600, 1.4);
    color: black;
  }

  .content {
    display: flex;
    flex-direction: row;

    div {
      padding: 25px;

      h3 span {
        color: orange;
      }
    }
  }
}
