@import "../../Common/sass/Variables";

.nav {
  height: 70px;
  background: $textSecondColor;

  .container {
    display: flex;
    justify-content: space-between;
    .menu {
      width: 60%;
      display: flex;
      justify-content: space-between;

    }

    a {
      color: $textColor;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.25em;
    }

    .navBtns {
      height: 100%;
      display: flex;

      .navBtn {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: center;
      }

      .signIn {
        background-color: $btnColor;
      }
      .order {
        background-color: $bgSecondColor;
        text-align: center;
      }
    }

  }
}
