@import "./../../Common/sass/Variables";

.contactsBlock {

    background-attachment: fixed;
    background-size: cover;
    .container {
        display: flex;
        justify-content: space-around;
    }
}

